p,
ul {
    margin: 0;
    padding: 0;
}

@import '../fonts/share.css';
@import '../fonts/bar.css';
@font-face {
    font-family: '思源雅黑';
    src: url('../fonts/思源黑体正常字体.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa-Bold';
    src: url('../fonts/Nexa-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

.cn {
    font-family: '思源雅黑';
}

.en,
.sp {
    font-family: 'Nexa-Bold';
    word-break: keep-all;
}

@media (max-width: 768px) {
    .header {
        margin: 0 auto;
        height: 1.6rem;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        .header-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
        .logo {
            width: 2.54rem;
            height: 0.74rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
        .header-nav {
            li {
                display: none;
                &.active {
                    display: block;
                    p ,a{
                        font-size: 0.36rem;
                        font-weight: bold;
                        color: #17387A;
                    }
                }
            }
        }
        .header-right {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }
        .header-bar {
            margin-left: 0.4rem;
            width: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.3rem;
        }
        .header-layer {
            z-index: -1;
            opacity: 0;
            &.header-layer-show {
                z-index: 9999;
                opacity: 1;
            }
            transition: opacity 0.4s;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(23,
            56,
            122,
            1);
            .layer-close-box {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                padding-top: 2rem;
                padding-right: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
            .layer-close-icon {
                font-size: 0.6rem;
            }
            .layer-nav {
                li {
                    line-height: 1.4rem;
                    text-align: center;
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #fff;
                        display: block;
                        font-size: 0.4rem;
                    }
                    &.active {
                        a {
                            color: rgba(192, 158, 21, 1);
                        }
                    }
                }
            }
        }
    }
    .footer {
        .content {
            padding: 1rem 0;
            background: #212630;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1)
        }
        li {
            list-style: none;
        }
        .choose-language-mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .choose-language {
            .choose-language-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                .icon {
                    width: 1rem;
                    img {
                        width: 100%;
                    }
                }
                .label {
                    font-size: 0.32rem;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    .bottom {
                        margin-left: 10px;
                        width: 0.4rem;
                    }
                }
            }
            .choose-language-list {
                margin-top: 0.2rem;
                li {
                    padding: 4px 0;
                    font-size: 0.16rem;
                    color: #fff;
                    &.border {
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    }
                }
                .choose-language-box {
                    margin: 0.05rem 0;
                }
            }
        }
        .nav-list {
            li {
                text-align: center;
                &.title {
                    margin: 0.4rem 0;
                    font-size: 0.36rem;
                    font-weight: 400;
                    color: #fff;
                }
                &.nav {
                    line-height: 1rem;
                    font-size: 0.28rem;
                    font-weight: 400;
                    color: rgba(126, 128, 132, 1);
                }
            }
            .choose-language {
                display: none;
            }
        }
        .link-box {
            margin-top: 0.2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .link-list {
                display: flex;
                flex-direction: row;
                li {
                    margin: 0 0.5rem;
                    font-size: 0.4rem;
                }
            }
        }
        .copyright {
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            font-size: 0.22rem;
            font-weight: 400;
            color: rgba(126, 128, 132, 1);
            background: #212630;
        }
    }
}

@media (min-width: 768px) {
    .header-box {
        background: #fff;
        height: 0.7rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
    }
    .header {
        height: 0.7rem;
        display: flex;
        flex-direction: row;
        .header-content {
            display: flex;
            flex-direction: row;
        }
        .header-bar {
            display: none;
        }
        .logo {
            width: 1.42rem;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
            }
        }
        .header-layer {
            display: none !important;
        }
        .header-nav {
            margin-left: 1rem;
            display: flex;
            flex-direction: row;
            li {
                padding: 0 0.3rem;
                line-height: 0.7rem;
                list-style: none;
                font-family: Nexa-Bold;
                font-weight: 400;
                color: #8595B6;
                cursor: pointer;
                a {
                    text-decoration: none;
                    font-size: 0.18rem;
                    font-family: Nexa-Bold;
                    font-weight: 400;
                    color: #8595B6;
                }
                &.active,
                &:hover {
                    a {
                        color: rgba(24, 52, 122, 1);
                    }
                    .border {
                        opacity: 1;
                    }
                }
                .border {
                    position: relative;
                    top: -2px;
                    opacity: 0;
                    margin: 0 auto;
                    width: 60%;
                    height: 2px;
                    background: rgba(23, 56, 122, 1);
                    transition: all 0.5s;
                }
            }
        }
    }
    .footer {
        .content {
            padding: 1rem 0;
            background: #212630;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1)
        }
        li {
            list-style: none;
        }
        .choose-language-mobile {
            display: none;
        }
        .nav-list {
            li {
                &.title {
                    margin-bottom: 0.4rem;
                    font-size: 0.18rem;
                    font-weight: 400;
                    color: #fff;
                }
                &.nav {
                    font-size: 0.14rem;
                    line-height: 0.4rem;
                    font-weight: 400;
                    color: rgba(126, 128, 132, 1);
                }
            }
            .choose-language {
                position: relative;
                margin-top: 0.1rem;
            }
            .choose-language-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                .icon {
                    width: 0.38rem;
                    img {
                        width: 100%;
                    }
                }
                .label {
                    font-size: 0.16rem;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 1);
                    .bottom {
                        margin-left: 10px;
                        width: 0.2rem;
                    }
                }
            }
            .choose-language-list {
                position: absolute;
                top: 30px;
                left: 0;
                margin-top: 0.2rem;
                padding: 0 10px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                li {
                    font-size: 0.16rem;
                    color: #fff;
                    &.border {
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    }
                }
                .choose-language-box {
                    margin: 0.05rem 0;
                }
            }
        }
        .link-box {
            margin-top: 0.2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .link-list {
                display: flex;
                flex-direction: row;
                li {
                    margin: 0 0.3rem;
                    width: 0.3rem;
                    height: 0.3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.2rem;
                }
            }
        }
        .copyright {
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            font-size: 0.14rem;
            font-weight: 400;
            color: rgba(126, 128, 132, 1);
            background: #212630;
        }
    }
}