@font-face {
    font-family: '思源雅黑';
    src: url('./fonts/思源黑体正常字体.ttf');
    font-weight: normal;
    font-style: normal;
}

.cn {
    font-family: '思源雅黑';
}

body {
    //overflow-x: hidden;
    word-break: break-all;
}

@media (max-width: 768px) {
    .first-screen {
        padding: 0 6%;
        background: url('./img/first-screen-bg.png') no-repeat;
        background-size: 100% 100%;
    }
    .first-screen-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .first-screen-title {
        margin-top: 60px;
        margin-bottom: 50px;
        font-size: 30px;
        text-align: center;
        color: #18347A;
    }
    .first-screen-subtitle {
        font-size: 12px;
        text-align: center;
        color: #8595B6;
    }
    .phone {
        margin: 0 auto;
        margin-top: 69px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        background: url(./img/phone.png) no-repeat;
        background-size: 100% 100%;
    }
    .qr-title {
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 15px;
        color: #18347A;
    }
    .download {
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 12px;
        color: #17387A;
    }
    .qr-img {
        display: block;
        width: 150px;
        height: 150px;
    }
    .qr-desc {
        display: none;
    }
    .qr-link {
        display: none;
    }
    .qr-link-border {
        display: none;
    }
    .second-screen-title {
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 19px;
        color: #17387A;
    }
    .line {
        margin: 0 auto;
        width: 50px;
        height: 6px;
        background: #C09E15;
    }
    .second-screen-card-list {
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .second-screen-second-card {
        margin-top: 40px;
    }
    .second-screen-card {
        width: 100%;
        box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
    }
    .second-screen-card-title {
        height: 55px;
        line-height: 55px;
        text-align: center;
        font-size: 14px;
        color: #FFFFFF;
        background: #18347A;
    }
    .second-screen-card-content {
        padding: 40px 0;
    }
    .second-screen-card-item {
        width: 100%;
    }
    .second-screen-card-item-icon {
        margin: 0 auto;
        width: 40px;
        height: 40px;
        border: 1px solid red;
    }
    .second-screen-card-item-label {
        padding: 0 4px;
        padding-top: 10px;
        font-size: 8px;
        text-align: center;
        color: #8595B6;
    }
    .second-screen-card-footer {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 9px;
        color: #18347A;
        background: #F2F4F8;
    }
    .third-screen {
        padding-bottom: 50px;
        background: #F2F4F8;
    }
    .third-screen-card-list {
        margin: 0;
    }
    .third-screen-card {
        margin-top: 30px;
        padding: 40px 0;
        background: #fff;
        box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
        border-radius: 4px;
    }
    .third-screen-card-item-icon {
        margin: 0 auto;
        width: 72px;
        height: 72px;
        border: 1px solid red;
    }
    .third-screen-card-title {
        margin-top: 40px;
        height: 50px;
        text-align: center;
        font-size: 18px;
        color: #17387A;
    }
    .third-screen-card-desc {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        color: #8595B6;
    }
    .card-wall {
        margin-top: 40px;
    }
    .fourth-screen-card {
        float: left;
        padding: 40px 20px;
        width: 50%;
        background: rgba(24, 52, 122, 0.85);
    }
    .fourth-screen-card-item-icon {
        margin: 0 auto;
        width: 28px;
        height: 28px;
        border: 1px solid red;
    }
    .fourth-screen-card-title {
        margin-top: 40px;
        text-align: center;
        font-size: 10px;
        color: #fff;
    }
    .fourth-screen-card-desc {
        margin-top: 20px;
        text-align: center;
        font-size: 8px;
        color: #B7C3DB;
    }
    .fourth-screen-desc {
        padding: 30px 20px;
    }
    .fourth-screen-desc-title {
        font-size: 28px;
        text-align: center;
        line-height: 50px;
        color: #C09E15;
    }
    .fourth-screen-desc-value {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #8595B6;
    }
    .fifth-screen {
        background: #F2F4F8;
    }
    .message-list {
        // margin: 40px 0;
    }
    .message-row {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .message-box {
        width: 100%;
        padding: 15px;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
        background: #fff;
    }
    .message-icon {
        margin-right: 20px;
        width: 27px;
        height: 21px;
        border: 1px solid red;
    }
    .message-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .message-title {
        font-size: 13px;
        color: #17387A;
    }
    .message-value {
        font-size: 9px;
        line-height: 14px;
        color: #8595B6;
    }
    .arrow-left,
    .arrow-right {
        display: none;
    }
    .footer {
        height: 466px;
        background: #212630;
    }
}

@media (min-width: 768px) {
    /* .first-screen{
        position: relative; */
    .first-screen {
        height: 600px;
        background: url('./img/first-screen-bg.png') no-repeat;
    }
    .first-screen-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .first-screen-title {
        margin-bottom: 50px;
        font-size: 50px;
        color: #18347A;
    }
    .first-screen-subtitle {
        font-size: 20px;
        color: #8595B6;
    }
    .phone-box {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .phone {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        background: url(./img/phone.png) no-repeat;
        background-size: 100% 100%;
    }
    .qr-title {
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 20px;
        color: #18347A;
    }
    .download {
        display: none;
    }
    .qr-img {
        display: block;
        width: 220px;
        height: 220px;
    }
    .qr-desc {
        margin-top: 50px;
        font-size: 14px;
        color: #18347A;
    }
    .qr-link {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        color: #8595B6;
    }
    .qr-link-border {
        margin: 0 15px;
        width: 1px;
        height: 10px;
        background: #8595B6;
    }
    .second-screen-title {
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 36px;
        color: #17387A;
    }
    .line {
        margin: 0 auto;
        width: 50px;
        height: 6px;
        background: #C09E15;
    }
    .second-screen-card-list {
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .second-screen-card {
        width: 100%;
        box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
    }
    .second-screen-card-title {
        height: 90px;
        line-height: 90px;
        text-align: center;
        font-size: 22px;
        color: #FFFFFF;
        background: #18347A;
    }
    .second-screen-card-content {
        padding: 40px 0;
    }
    .second-screen-card-item {
        width: 100%;
    }
    .second-screen-card-item-icon {
        margin: 0 auto;
        width: 72px;
        height: 72px;
        border: 1px solid red;
    }
    .second-screen-card-item-label {
        font-size: 13px;
        text-align: center;
        color: #8595B6;
    }
    .second-screen-card-footer {
        line-height: 50px;
        text-align: center;
        font-size: 14px;
        color: #18347A;
        background: #F2F4F8;
    }
    .third-screen {
        background: #F2F4F8;
    }
    .third-screen-card-list {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .third-screen-card {
        padding: 40px 0;
        background: #fff;
        box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
        border-radius: 4px;
    }
    .third-screen-card-item-icon {
        margin: 0 auto;
        width: 72px;
        height: 72px;
        border: 1px solid red;
    }
    .third-screen-card-title {
        margin-top: 40px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        color: #17387A;
    }
    .third-screen-card-desc {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        color: #8595B6;
    }
    .fourth-screen {
        border: 1px solid red;
    }
    .card-wall {
        margin: 40px 0;
    }
    .fourth-screen-card {
        float: left;
        padding: 40px 20px;
        width: 25%;
        background: rgba(24, 52, 122, 0.85);
    }
    .fourth-screen-card-item-icon {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        border: 1px solid red;
    }
    .fourth-screen-card-title {
        margin-top: 40px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
    .fourth-screen-card-desc {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        color: #B7C3DB;
    }
    .fourth-screen-desc {
        padding: 30px 20px;
    }
    .fourth-screen-desc-title {
        font-size: 28px;
        line-height: 50px;
        color: #C09E15;
    }
    .fourth-screen-desc-value {
        font-size: 14px;
        line-height: 20px;
        color: #8595B6;
    }
    .fifth-screen {
        background: #F2F4F8;
    }
    .message-list {
        // margin: 40px 0;
    }
    .message-row {
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    .message-box {
        margin-top: 50px;
        width: 60%;
        height: 150px;
        padding: 20px 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
        background: #fff;
    }
    .message-icon {
        margin-right: 40px;
        width: 54px;
        height: 44px;
        border: 1px solid red;
    }
    .message-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .message-title {
        font-size: 18px;
        color: #17387A;
    }
    .message-value {
        font-size: 14px;
        line-height: 21px;
        color: #8595B6;
    }
    .arrow-right {
        margin-left: 20px;
        width: 64px;
        height: 32px;
        border: 1px solid red;
    }
    .arrow-left {
        margin-right: 20px;
        width: 64px;
        height: 32px;
        border: 1px solid red;
    }
    .footer {
        height: 466px;
        background: #212630;
    }
}