@charset "UTF-8";
@import url(../fonts/share.css);
@import url(../fonts/bar.css);
p,
ul {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: '思源雅黑';
  src: url("../fonts/思源黑体正常字体.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Nexa-Bold';
  src: url("../fonts/Nexa-Bold.otf");
  font-weight: normal;
  font-style: normal; }
.cn {
  font-family: '思源雅黑'; }

.en,
.sp {
  font-family: 'Nexa-Bold';
  word-break: keep-all; }

@media (max-width: 768px) {
  .header {
    margin: 0 auto;
    height: 1.6rem;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff; }
    .header .header-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; }
    .header .logo {
      width: 2.54rem;
      height: 0.74rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .logo img {
        width: 100%; }
    .header .header-nav {
      display: flex;
      flex-direction: row; }
      .header .header-nav li {
        display: none; }
        .header .header-nav li.active {
          display: block; }
          .header .header-nav li.active p, .header .header-nav li.active a {
            font-size: 0.36rem;
            font-weight: bold;
            color: #17387A; }
    .header .header-right {
      display: flex;
      flex-direction: row;
      align-items: baseline; }
    .header .header-bar {
      margin-left: 0.4rem;
      width: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.3rem; }
    .header .header-layer {
      z-index: -1;
      opacity: 0;
      transition: opacity 0.4s;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #17387a; }
      .header .header-layer.header-layer-show {
        z-index: 9999;
        opacity: 1; }
      .header .header-layer .layer-close-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        padding-top: 2rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
      .header .header-layer .layer-close-icon {
        font-size: 0.6rem; }
      .header .header-layer .layer-nav li {
        line-height: 1.8rem;
        text-align: center;
        list-style: none; }
        .header .header-layer .layer-nav li a {
          text-decoration: none;
          color: #fff;
          display: block;
          font-size: 0.5rem; }
        .header .header-layer .layer-nav li.active a {
          color: #c09e15; }

  .footer .content {
    padding: 1rem 0;
    background: #212630;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .footer li {
    list-style: none; }
  .footer .choose-language-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer .choose-language .choose-language-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer; }
    .footer .choose-language .choose-language-box .icon {
      width: 1rem; }
      .footer .choose-language .choose-language-box .icon img {
        width: 100%; }
    .footer .choose-language .choose-language-box .label {
      font-size: 0.32rem;
      font-weight: 400;
      color: white; }
      .footer .choose-language .choose-language-box .label .bottom {
        margin-left: 10px;
        width: 0.4rem; }
  .footer .choose-language .choose-language-list {
    margin-top: 0.2rem; }
    .footer .choose-language .choose-language-list li {
      padding: 4px 0;
      font-size: 0.16rem;
      color: #fff; }
      .footer .choose-language .choose-language-list li.border {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .footer .choose-language .choose-language-list .choose-language-box {
      margin: 0.05rem 0; }
  .footer .nav-list li {
    text-align: center; }
    .footer .nav-list li.title {
      margin: 0.4rem 0;
      font-size: 0.36rem;
      font-weight: 400;
      color: #fff; }
    .footer .nav-list li.nav {
      line-height: 1rem;
      font-size: 0.28rem;
      font-weight: 400;
      color: #7e8084; }
  .footer .nav-list .choose-language {
    display: none; }
  .footer .link-box {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer .link-box .link-list {
      display: flex;
      flex-direction: row; }
      .footer .link-box .link-list li {
        margin: 0 0.5rem;
        font-size: 0.4rem; }
  .footer .copyright {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 0.22rem;
    font-weight: 400;
    color: #7e8084;
    background: #212630; } }
@media (min-width: 768px) {
  .header-box {
    background: #fff;
    height: 0.7rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1); }

  .header {
    height: 0.7rem;
    display: flex;
    flex-direction: row; }
    .header .header-content {
      display: flex;
      flex-direction: row; }
    .header .header-bar {
      display: none; }
    .header .logo {
      width: 1.42rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .logo img {
        width: 100%; }
    .header .header-layer {
      display: none !important; }
    .header .header-nav {
      margin-left: 1rem;
      display: flex;
      flex-direction: row; }
      .header .header-nav li {
        padding: 0 0.3rem;
        line-height: 0.7rem;
        list-style: none;
        font-family: Nexa-Bold;
        font-weight: 400;
        color: #8595B6;
        cursor: pointer; }
        .header .header-nav li a {
          text-decoration: none;
          font-size: 0.18rem;
          font-family: Nexa-Bold;
          font-weight: 400;
          color: #8595B6; }
        .header .header-nav li.active a, .header .header-nav li:hover a {
          color: #18347a; }
        .header .header-nav li.active .border, .header .header-nav li:hover .border {
          opacity: 1; }
        .header .header-nav li .border {
          position: relative;
          top: -2px;
          opacity: 0;
          margin: 0 auto;
          width: 60%;
          height: 2px;
          background: #17387a;
          transition: all 0.5s; }

  .footer .content {
    padding: 1rem 0;
    background: #212630;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .footer li {
    list-style: none; }
  .footer .choose-language-mobile {
    display: none; }
  .footer .nav-list li.title {
    margin-bottom: 0.4rem;
    font-size: 0.18rem;
    font-weight: 400;
    color: #fff; }
  .footer .nav-list li.nav {
    font-size: 0.14rem;
    line-height: 0.4rem;
    font-weight: 400;
    color: #7e8084; }
  .footer .nav-list .choose-language {
    position: relative;
    margin-top: 0.1rem; }
  .footer .nav-list .choose-language-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer; }
    .footer .nav-list .choose-language-box .icon {
      width: 0.38rem; }
      .footer .nav-list .choose-language-box .icon img {
        width: 100%; }
    .footer .nav-list .choose-language-box .label {
      font-size: 0.16rem;
      font-weight: 400;
      color: white; }
      .footer .nav-list .choose-language-box .label .bottom {
        margin-left: 10px;
        width: 0.2rem; }
  .footer .nav-list .choose-language-list {
    position: absolute;
    top: 30px;
    left: 0;
    margin-top: 0.2rem;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    .footer .nav-list .choose-language-list li {
      font-size: 0.16rem;
      color: #fff; }
      .footer .nav-list .choose-language-list li.border {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .footer .nav-list .choose-language-list .choose-language-box {
      margin: 0.05rem 0; }
  .footer .link-box {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer .link-box .link-list {
      display: flex;
      flex-direction: row; }
      .footer .link-box .link-list li {
        margin: 0 0.3rem;
        width: 0.3rem;
        height: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.2rem; }
  .footer .copyright {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.14rem;
    font-weight: 400;
    color: #7e8084;
    background: #212630; } }
.no-margin-top {
  margin-top: 0 !important; }

.first-screen {
  background: url("./img/first-screen-bg.png") no-repeat center bottom; }
  .first-screen .first-screen-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .first-screen .first-screen-title {
    color: #18347A; }
  .first-screen .first-screen-subtitle {
    color: #8595B6; }
  .first-screen .qr-title {
    color: #18347A; }
  .first-screen .qr-img {
    display: block; }
  .first-screen .qr-desc {
    color: #18347A; }
  .first-screen .qr-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #8595B6; }
  .first-screen .qr-link-border {
    margin: 0 15px;
    width: 1px;
    height: 10px;
    background: #8595B6; }

.screen-title {
  text-align: center;
  color: #17387A; }

.line {
  margin: 0 auto;
  width: 40px;
  height: 6px;
  background: #C09E15; }

.second-screen .second-screen-card {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1); }
.second-screen .second-screen-card-box {
  width: 25%;
  float: left; }
.second-screen .second-screen-card-title {
  text-align: center;
  font-size: 22px;
  background: #18347A;
  color: #fff; }
.second-screen .second-screen-card-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
.second-screen .second-screen-card-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #C09E15;
  color: #C09E15; }
.second-screen .second-screen-card-item-label {
  padding: 0 4px;
  text-align: center;
  color: #8595B6; }
.second-screen .second-screen-card-footer {
  text-align: center;
  color: #18347A;
  background: #F2F4F8; }

.third-screen {
  background: #F2F4F8; }
  .third-screen .third-screen-card {
    padding: 40px 0;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1); }
  .third-screen .third-screen-card-item-icon {
    text-align: center;
    color: #C09E15; }
  .third-screen .third-screen-card-title {
    text-align: center;
    color: #17387A; }
  .third-screen .third-screen-card-desc {
    text-align: center;
    color: #8595B6; }

.fourth-screen .fourth-screen-card {
  position: relative;
  float: left;
  width: 25%;
  background-color: rgba(24, 52, 122, 0.85); }
  .fourth-screen .fourth-screen-card .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-size: 150% 150%;
    z-index: -1; }
.fourth-screen .fourth-screen-card-item-icon {
  text-align: center; }
.fourth-screen .fourth-screen-card-title {
  text-align: center;
  color: #fff; }
.fourth-screen .fourth-screen-card-desc {
  text-align: center;
  font-size: 14px;
  color: #B7C3DB; }
.fourth-screen .fourth-screen-desc-title {
  color: #C09E15; }
.fourth-screen .fourth-screen-desc-value {
  color: #8595B6; }

.fifth-screen {
  background: #F2F4F8; }
  .fifth-screen .message-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  .fifth-screen .message-box {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
    background: #fff; }
  .fifth-screen .message-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .fifth-screen .message-title {
    color: #17387A; }
  .fifth-screen .message-value {
    color: #8595B6; }

@media (max-width: 768px) {
  .screen {
    padding-bottom: 1.2rem; }
    .screen .screen-title {
      margin-top: 1rem;
      margin-bottom: 0.2rem;
      text-align: center;
      font-size: 0.4rem;
      font-weight: bold;
      color: #17387A; }
    .screen .line {
      margin: 0 auto;
      margin-bottom: 0.8rem;
      width: 50px;
      height: 6px;
      background: #C09E15; }

  .first-screen .first-screen-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .first-screen .first-screen-title {
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    font-size: 0.6rem;
    text-align: center;
    color: #18347A; }
  .first-screen .first-screen-subtitle {
    font-size: 0.24rem;
    font-weight: 400;
    text-align: center;
    color: #8595B6; }
  .first-screen .phone {
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5.63rem;
    background: url(./img/phone.png) no-repeat;
    background-size: 100% auto; }
  .first-screen .qr-title {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    font-size: 0.3rem;
    color: #18347A; }
  .first-screen .qr-img {
    display: block;
    width: 3.3rem;
    height: 3.3rem; }
  .first-screen .download {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 0.21rem;
    color: #17387A; }
  .first-screen .qr-desc {
    display: none; }
  .first-screen .qr-link {
    display: none; }
  .first-screen .qr-link-border {
    display: none; }

  .fourth-screen .content {
    position: relative; }
    .fourth-screen .content .bg {
      display: block;
      width: 100%;
      position: absolute;
      top: -20px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -2;
      background-repeat: repeat; }

  .second-screen .second-screen-second-card {
    margin-top: 0.8rem; }
  .second-screen .second-screen-card {
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1); }
  .second-screen .second-screen-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.17rem;
    font-size: 0.3rem;
    font-weight: bold;
    text-align: center;
    font-size: 14px; }
  .second-screen .second-screen-card-content {
    margin: 0;
    padding: 0.4rem 0; }
  .second-screen .second-screen-card-item {
    width: 100%; }
  .second-screen .second-screen-card-item-icon {
    margin: 0 auto;
    width: 0.93rem;
    height: 0.93rem;
    font-size: 0.4rem;
    border-radius: 50%; }
  .second-screen .second-screen-card-item-label {
    width: 100%;
    padding: 0 4px;
    padding-top: 10px;
    font-size: 0.18rem;
    font-weight: 400;
    text-align: center;
    color: #8595B6; }
  .second-screen .second-screen-card-footer {
    height: 0.65rem;
    line-height: 0.65rem;
    font-size: 0.2rem;
    font-weight: 400;
    text-align: center;
    color: #18347A;
    background: #F2F4F8; }

  .third-screen {
    padding-bottom: 1rem;
    background: #F2F4F8; }
    .third-screen .third-screen-card-list {
      margin: 0; }
    .third-screen .third-screen-card {
      margin-top: 1rem;
      padding: 40px 0;
      background: #fff;
      box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1); }
    .third-screen .third-screen-card-item-icon {
      font-size: 0.8rem;
      text-align: center; }
    .third-screen .third-screen-card-title {
      margin-top: 1rem;
      text-align: center;
      font-size: 0.3rem;
      font-weight: 400;
      color: #17387A; }
    .third-screen .third-screen-card-desc {
      padding: 0 10px;
      margin-top: 0.2rem;
      text-align: center;
      font-size: 0.26rem;
      color: #8595B6; }

  .fourth-screen .fourth-screen-card {
    float: left;
    padding: 40px 20px;
    width: 50%; }
    .fourth-screen .fourth-screen-card img {
      width: 100%; }
  .fourth-screen .fourth-screen-card-item-icon {
    margin: 0 auto;
    font-size: 0.8rem; }
  .fourth-screen .fourth-screen-card-title {
    height: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.3rem;
    color: #fff; }
  .fourth-screen .fourth-screen-card-desc {
    margin-top: 0.2rem;
    height: 1rem;
    text-align: center;
    font-size: 0.2rem;
    color: #B7C3DB; }
  .fourth-screen .fourth-screen-desc {
    padding: 30px 20px;
    padding-bottom: 0; }
  .fourth-screen .fourth-screen-desc-title {
    margin-top: 0.48rem;
    text-align: center;
    line-height: 1rem;
    color: #C09E15; }
  .fourth-screen .fourth-screen-desc-value {
    font-size: 0.28rem;
    line-height: 0.4rem;
    text-align: center;
    color: #8595B6; }

  .fifth-screen {
    padding-bottom: 1rem;
    background: #F2F4F8; }
    .fifth-screen .message-row {
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      align-items: flex-end; }
    .fifth-screen .message-box {
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
      background: #fff; }
    .fifth-screen .message-icon {
      margin-right: 20px;
      font-size: 0.5rem; }
    .fifth-screen .message-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .fifth-screen .message-title {
      font-size: 0.4rem;
      color: #17387A; }
    .fifth-screen .message-value {
      font-size: 0.2rem;
      line-height: 0.5rem;
      color: #8595B6; }
    .fifth-screen .arrow-left,
    .fifth-screen .arrow-right {
      display: none; } }
@media (min-width: 768px) {
  .first-screen {
    height: 600px; }
    .first-screen .phone {
      padding: 0 20px;
      width: 318px;
      height: 490px;
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: url(./img/phone.png) no-repeat;
      background-size: 100% auto; }
    .first-screen .qr-title {
      font-size: 0.2rem;
      color: #18347A; }
    .first-screen .qr-img {
      margin-top: 0.2rem;
      margin-bottom: 0.5rem;
      width: 2.2rem;
      height: 2.2rem; }
    .first-screen .download {
      font-size: 0.2rem;
      color: #17387A; }
    .first-screen .first-screen-info {
      height: 100%; }
    .first-screen .first-screen-title {
      margin-bottom: 0.5rem;
      font-size: 0.5rem; }
    .first-screen .first-screen-subtitle {
      font-size: 0.2rem;
      color: #8595B6; }
    .first-screen .phone-box {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end; }

  .second-screen .card-box-fourth {
    font-size: 0.38rem; }
  .second-screen .second-screen-card-box {
    width: 25%;
    float: left; }
  .second-screen .second-screen-card {
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1); }
  .second-screen .second-screen-card-title {
    line-height: 0.9rem;
    text-align: center;
    font-size: 0.22rem; }
  .second-screen .second-screen-card-content {
    margin: 0;
    height: 2.8rem;
    padding: 0.4rem 0; }
  .second-screen .second-screen-card-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .second-screen .second-screen-card-item-icon {
    width: 0.8rem;
    height: 0.8rem;
    font-size: 0.42rem;
    border-radius: 50%;
    border: 1px solid #C09E15;
    color: #C09E15; }
  .second-screen .second-screen-card-item-label {
    width: 100%;
    margin-top: 0.3rem;
    padding: 0 4px;
    font-size: 0.13rem;
    text-align: center;
    color: #8595B6; }
  .second-screen .second-screen-card-footer {
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.14rem;
    color: #18347A;
    background: #F2F4F8; }

  .fourth-screen .content {
    position: relative; }
    .fourth-screen .content .bg {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -20px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -2;
      background-repeat: repeat; }
  .fourth-screen .fourth-screen-card-item-icon {
    font-size: 0.52rem;
    height: 0.5rem; }
  .fourth-screen .fourth-screen-card-item-icon-second {
    font-size: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .fourth-screen .fourth-screen-card-item-icon-fourth {
    font-size: 0.6rem; }
  .fourth-screen .fourth-screen-card {
    float: left;
    padding: 0 0.2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4rem;
    overflow: hidden; }
    .fourth-screen .fourth-screen-card img {
      height: 100%; }
  .fourth-screen .fourth-screen-card-title {
    margin: 0.2rem 0;
    height: 0.5rem;
    text-align: center;
    font-size: 0.18rem;
    color: #fff; }
  .fourth-screen .fourth-screen-card-desc {
    height: 0.8rem;
    text-align: center;
    font-size: 0.14rem;
    color: #B7C3DB; }
  .fourth-screen .fourth-screen-desc {
    padding: 0.3rem 0.2rem;
    padding-bottom: 0; }
  .fourth-screen .fourth-screen-desc-title {
    font-size: 0.24rem;
    line-height: 0.5rem;
    color: #C09E15; }
  .fourth-screen .fourth-screen-desc-value {
    font-size: 0.14rem;
    line-height: 0.3rem;
    color: #8595B6; }

  .screen {
    padding-bottom: 0.5rem; }
    .screen .screen-title {
      margin-top: 0.9rem;
      margin-bottom: 0.2rem;
      text-align: center;
      font-size: 0.36rem;
      color: #17387A; }
    .screen .line {
      margin-bottom: 0.6rem; }

  .third-screen {
    background: #F2F4F8; }
    .third-screen .third-screen-card {
      padding: 0.4rem 0;
      background: #fff;
      box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1); }
    .third-screen .third-screen-card-item-icon {
      margin-top: 0.3rem;
      height: 0.7rem;
      text-align: center;
      font-size: 0.56rem;
      color: #C09E15; }
    .third-screen .third-screen-card-item-icon-second {
      font-size: 0.66rem; }
    .third-screen .third-screen-card-title {
      margin-top: 0.4rem;
      line-height: 0.5rem;
      text-align: center;
      font-size: 0.24rem;
      color: #17387A; }
    .third-screen .third-screen-card-desc {
      padding: 0.2rem;
      padding-bottom: 0;
      height: 1rem;
      text-align: center;
      font-size: 0.16rem;
      color: #8595B6; }

  .fifth-screen {
    padding-bottom: 1rem;
    background: #F2F4F8; }
    .fifth-screen .message-row {
      padding: 0 0.3rem;
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: flex-end; }
    .fifth-screen .message-box {
      width: 60%;
      padding: 0.2rem 0.4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
      background: #fff; }
    .fifth-screen .message-icon {
      margin-right: 0.4rem;
      font-size: 0.6rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .fifth-screen .message-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .fifth-screen .message-title {
      line-height: 0.5rem;
      font-size: 0.18rem;
      color: #17387A; }
    .fifth-screen .message-value {
      font-size: 0.14rem;
      line-height: 0.3rem;
      color: #8595B6; }
    .fifth-screen .arrow-right {
      margin-left: 0.2rem;
      font-size: 0.36rem; }
    .fifth-screen .arrow-left {
      margin-right: 0.2rem;
      font-size: 0.36rem;
      transform: rotateY(180deg); } }

/*# sourceMappingURL=index.css.map */
