@charset "UTF-8";
@import url(../fonts/share.css);
@import url(../fonts/bar.css);
p,
ul {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: '思源雅黑';
  src: url("../fonts/思源黑体正常字体.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Nexa-Bold';
  src: url("../fonts/Nexa-Bold.otf");
  font-weight: normal;
  font-style: normal; }
.cn {
  font-family: '思源雅黑'; }

.en,
.sp {
  font-family: 'Nexa-Bold';
  word-break: keep-all; }

@media (max-width: 768px) {
  .header {
    margin: 0 auto;
    height: 1.6rem;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff; }
    .header .header-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end; }
    .header .logo {
      width: 2.54rem;
      height: 0.74rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .logo img {
        width: 100%; }
    .header .header-nav li {
      display: none; }
      .header .header-nav li.active {
        display: block; }
        .header .header-nav li.active p, .header .header-nav li.active a {
          font-size: 0.36rem;
          font-weight: bold;
          color: #17387A; }
    .header .header-right {
      display: flex;
      flex-direction: row;
      align-items: baseline; }
    .header .header-bar {
      margin-left: 0.4rem;
      width: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.3rem; }
    .header .header-layer {
      z-index: -1;
      opacity: 0;
      transition: opacity 1s;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #17387a; }
      .header .header-layer.header-layer-show {
        z-index: 9999;
        opacity: 1; }
      .header .header-layer .layer-close-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        padding-top: 2rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
      .header .header-layer .layer-close-icon {
        font-size: 1rem; }
      .header .header-layer .layer-nav li {
        line-height: 2rem;
        text-align: center;
        list-style: none; }
        .header .header-layer .layer-nav li a {
          text-decoration: none;
          color: #fff;
          display: block;
          font-size: 0.7rem; }
        .header .header-layer .layer-nav li.active a {
          color: #c09e15; }

  .footer .content {
    padding: 1rem 0;
    background: #212630;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .footer li {
    list-style: none; }
  .footer .choose-language-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer .choose-language .choose-language-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer; }
    .footer .choose-language .choose-language-box .icon {
      width: 1rem; }
      .footer .choose-language .choose-language-box .icon img {
        width: 100%; }
    .footer .choose-language .choose-language-box .label {
      font-size: 0.16rem;
      font-weight: 400;
      color: white; }
      .footer .choose-language .choose-language-box .label .bottom {
        margin-left: 10px;
        width: 0.6rem; }
  .footer .choose-language .choose-language-list {
    margin-top: 0.2rem; }
    .footer .choose-language .choose-language-list li {
      padding: 4px 0;
      font-size: 0.16rem;
      color: #fff; }
      .footer .choose-language .choose-language-list li.border {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .footer .choose-language .choose-language-list .choose-language-box {
      margin: 0.05rem 0; }
  .footer .nav-list li {
    text-align: center; }
    .footer .nav-list li.title {
      margin: 0.4rem 0;
      font-size: 0.36rem;
      font-weight: 400;
      color: #fff; }
    .footer .nav-list li.nav {
      line-height: 1rem;
      font-size: 0.28rem;
      font-weight: 400;
      color: #7e8084; }
  .footer .nav-list .choose-language {
    display: none; }
  .footer .link-box {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer .link-box .link-list {
      display: flex;
      flex-direction: row; }
      .footer .link-box .link-list li {
        margin: 0 0.5rem;
        font-size: 0.2rem; }
  .footer .copyright {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 0.22rem;
    font-weight: 400;
    color: #7e8084;
    background: #212630; } }
@media (min-width: 768px) {
  .header-box {
    background: #fff;
    height: 0.7rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1); }

  .header {
    height: 0.7rem;
    display: flex;
    flex-direction: row; }
    .header .header-content {
      display: flex;
      flex-direction: row; }
    .header .header-bar {
      display: none; }
    .header .logo {
      width: 1.42rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .logo img {
        width: 100%; }
    .header .header-layer {
      display: none !important; }
    .header .header-nav {
      margin-left: 1rem;
      display: flex;
      flex-direction: row; }
      .header .header-nav li {
        padding: 0 0.3rem;
        line-height: 0.7rem;
        list-style: none;
        font-family: Nexa-Bold;
        font-weight: 400;
        color: #8595B6;
        cursor: pointer; }
        .header .header-nav li a {
          text-decoration: none;
          font-size: 0.18rem;
          font-family: Nexa-Bold;
          font-weight: 400;
          color: #8595B6; }
        .header .header-nav li.active a, .header .header-nav li:hover a {
          color: #18347a; }
        .header .header-nav li.active .border, .header .header-nav li:hover .border {
          opacity: 1; }
        .header .header-nav li .border {
          position: relative;
          top: -2px;
          opacity: 0;
          margin: 0 auto;
          width: 60%;
          height: 2px;
          background: #17387a;
          transition: all 0.5s; }

  .footer .content {
    padding: 1rem 0;
    background: #212630;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .footer li {
    list-style: none; }
  .footer .choose-language-mobile {
    display: none; }
  .footer .nav-list li.title {
    margin-bottom: 0.4rem;
    font-size: 0.18rem;
    font-weight: 400;
    color: #fff; }
  .footer .nav-list li.nav {
    font-size: 0.14rem;
    line-height: 0.4rem;
    font-weight: 400;
    color: #7e8084; }
  .footer .nav-list .choose-language {
    position: relative;
    margin-top: 0.1rem; }
  .footer .nav-list .choose-language-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer; }
    .footer .nav-list .choose-language-box .icon {
      width: 0.38rem; }
      .footer .nav-list .choose-language-box .icon img {
        width: 100%; }
    .footer .nav-list .choose-language-box .label {
      font-size: 0.16rem;
      font-weight: 400;
      color: white; }
      .footer .nav-list .choose-language-box .label .bottom {
        margin-left: 10px;
        width: 0.2rem; }
  .footer .nav-list .choose-language-list {
    position: absolute;
    top: 30px;
    left: 0;
    margin-top: 0.2rem;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    .footer .nav-list .choose-language-list li {
      font-size: 0.16rem;
      color: #fff; }
      .footer .nav-list .choose-language-list li.border {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .footer .nav-list .choose-language-list .choose-language-box {
      margin: 0.05rem 0; }
  .footer .link-box {
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer .link-box .link-list {
      display: flex;
      flex-direction: row; }
      .footer .link-box .link-list li {
        margin: 0 0.3rem;
        width: 0.3rem;
        height: 0.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.2rem; }
  .footer .copyright {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.14rem;
    font-weight: 400;
    color: #7e8084;
    background: #212630; } }
.bg-grey {
  background: #f6f7fb; }

@media (max-width: 768px) {
  .first-screen {
    height: 7.89rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #192133; }
    .first-screen .logo {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      width: 4.7rem;
      height: 1.44rem;
      opacity: 0.5;
      background: url(./img/logo_goodpago.png) center center;
      background-size: 100% 100%; }
    .first-screen .title {
      font-size: 0.3rem;
      color: #fff; }

  .screen .content {
    margin: 0;
    padding: 1rem 0; }
  .screen .img-box {
    margin-top: 2rem;
    width: 100%;
    display: block; }
    .screen .img-box img {
      display: block;
      margin: 0 auto;
      width: 70%; }
  .screen .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .screen .icon {
    font-size: 0.8rem; }
  .screen .title {
    text-align: center;
    margin: 1rem 0;
    font-size: 0.36rem;
    font-weight: bold;
    color: #193c85; }
  .screen .subtitle {
    text-align: center;
    font-size: 0.24rem;
    font-weight: 400;
    color: #909ebe; }
  .screen li {
    list-style: none;
    padding: 0.1rem 0; }
  .screen .item-title {
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .screen .item-title .item-icon {
      width: 0.06rem;
      height: 0.06rem;
      background: #193c85;
      border-radius: 0.1rem; }
    .screen .item-title .item-title-text {
      padding-left: 0.2rem;
      font-size: 0.3rem;
      font-weight: bold;
      color: #193c85; }
  .screen .item-value {
    padding-left: 0.26rem;
    font-size: 0.24rem;
    font-weight: 400;
    color: #909ebe; }

  .thirteenth-screen {
    background: #f6f7fb; }
    .thirteenth-screen .content {
      margin: 0;
      padding: 1rem 0; }
    .thirteenth-screen .card-box {
      padding: 0 5px; }
    .thirteenth-screen .card {
      margin: 0.6rem 0;
      padding: 1rem 0.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1); }
    .thirteenth-screen .icon {
      font-size: 1rem; }
    .thirteenth-screen .title {
      margin: 0.3rem 0;
      font-size: 0.22rem;
      font-weight: 400;
      color: #193c85; }
    .thirteenth-screen .subtitle {
      height: 2.6rem;
      text-align: center;
      font-size: 0.18rem;
      font-weight: 400;
      color: #193c85; }

  .third-screen {
    background: #f6f7fb; }
    .third-screen .content {
      background: url("./img/img_map.png") no-repeat center center; } }
@media (min-width: 768px) {
  .first-screen {
    height: 6.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./img/img_bg.png) no-repeat;
    background-size: 100% 100%; }
    .first-screen .logo {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      width: 5.6rem;
      height: 1.72rem;
      background: lime;
      opacity: 0.5;
      background: url(./img/logo_goodpago.png);
      background-size: 100% 100%; }
    .first-screen .title {
      font-size: 0.3rem;
      color: #fff; }

  .screen .content {
    padding: 1rem 0; }
  .screen .img-box {
    display: block;
    height: 4.34rem; }
    .screen .img-box img {
      margin: 0 auto;
      display: block;
      width: 80%; }
  .screen .img-box-width img {
    width: 100%;
    height: auto !important; }
  .screen .desc {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .screen .icon {
    font-size: 0.4rem; }
  .screen .title {
    margin: 0.2rem 0;
    font-size: 0.24rem;
    font-weight: bold;
    color: #193c85; }
  .screen .subtitle {
    font-size: 0.16rem;
    font-weight: 400;
    color: #909ebe; }
  .screen li {
    list-style: none;
    padding: 0.1rem 0; }
  .screen .item-title {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .screen .item-title .item-icon {
      width: 0.06rem;
      height: 0.06rem;
      background: #193c85;
      border-radius: 0.1rem; }
    .screen .item-title .item-title-text {
      padding-left: 0.2rem;
      font-size: 0.2rem;
      font-weight: bold;
      color: #193c85; }
  .screen .item-value {
    padding-left: 0.26rem;
    font-size: 0.16rem;
    font-weight: 400;
    color: #909ebe; }

  .screen-reverse .img-box {
    float: left; }
  .screen-reverse .desc {
    float: right; }

  .third-screen {
    background: #f6f7fb; }
    .third-screen .content {
      background: url("./img/img_map.png") no-repeat center center; }

  .thirteenth-screen {
    background: #f6f7fb; }
    .thirteenth-screen .content {
      padding: 1rem 0; }
    .thirteenth-screen .card-box {
      padding: 0 5px; }
    .thirteenth-screen .card {
      margin: 0.2rem 0;
      padding: 0.5rem 0.2rem;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); }
    .thirteenth-screen .icon {
      font-size: 0.6rem; }
    .thirteenth-screen .title {
      margin: 0.3rem 0;
      font-size: 0.18rem;
      font-weight: 400;
      color: #193c85; }
    .thirteenth-screen .subtitle {
      height: 2.6rem;
      text-align: center;
      font-size: 0.18rem;
      font-weight: 400;
      color: #193c85; } }

/*# sourceMappingURL=index.css.map */
