@charset "UTF-8";
p {
  margin: 0; }

@media (max-width: 768px) {
  .header {
    height: 1.6rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff; }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

  .logo {
    width: 2.54rem;
    height: 0.74rem;
    border: 1px solid red; }

  .header-nav li {
    display: none; }
    .header-nav li.active {
      display: block; }
      .header-nav li.active p {
        font-size: 0.36rem;
        font-weight: bold;
        color: #17387A; }

  .header-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }

  .header-bar {
    margin-left: 1rem;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid red; }

  .header-layer {
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #17387a; }
    .header-layer.header-layer-show {
      z-index: 9;
      opacity: 1; }
    .header-layer .layer-close-box {
      width: 100%;
      padding: 2rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
    .header-layer .layer-close-icon {
      width: 1rem;
      height: 1rem;
      border: 1px solid red; }
    .header-layer .layer-nav li {
      line-height: 2rem;
      text-align: center;
      list-style: none; }
      .header-layer .layer-nav li a {
        text-decoration: none;
        color: #fff;
        display: block;
        font-size: 0.7rem; }
      .header-layer .layer-nav li.active a {
        color: #c09e15; } }
@media (min-width: 768px) {
  .header {
    height: 0.7rem;
    display: flex;
    flex-direction: row;
    background: #fff; }

  .header-content {
    display: flex;
    flex-direction: row; }

  .header-bar {
    display: none; }

  .logo {
    width: 1.02rem;
    height: 100%;
    border: 1px solid red; }

  .header-layer {
    display: none !important; }

  .header-nav {
    margin-left: 1rem;
    display: flex;
    flex-direction: row; }
    .header-nav li {
      padding: 0 0.3rem;
      line-height: 0.7rem;
      list-style: none;
      font-size: 0.18rem;
      font-family: Nexa-Bold;
      font-weight: 400;
      color: #8595B6;
      cursor: pointer; }
      .header-nav li a {
        text-decoration: none;
        font-size: 0.18rem;
        font-family: Nexa-Bold;
        font-weight: 400;
        color: #8595B6; }
      .header-nav li.active, .header-nav li:hover {
        color: #18347a; }
        .header-nav li.active .border, .header-nav li:hover .border {
          opacity: 1; }
      .header-nav li .border {
        opacity: 0;
        margin: 0 auto;
        width: 60%;
        height: 0.02rem;
        background: #17387A;
        transition: all 0.5s; } }
@font-face {
  font-family: '思源雅黑';
  src: url("../fonts/思源黑体正常字体.ttf");
  font-weight: normal;
  font-style: normal; }
.cn {
  font-family: '思源雅黑'; }

body {
  word-break: break-all; }

.first-screen {
  height: 4.1rem;
  background: url("./imgaes/img_bg.png") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-size: cover; }

.first-screen h2 {
  font-size: 0.5rem;
  font-weight: bold;
  color: white;
  line-height: 0.75rem; }

.screen-title {
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
  text-align: center;
  font-size: 0.36rem;
  color: #17387A;
  font-weight: bold; }

.line {
  margin: 0 auto;
  width: 50px;
  height: 6px;
  background: #C09E15;
  margin-top: 20px; }

.second-screen .card-list {
  margin-bottom: 30px; }

.second-screen .card-list .card {
  position: relative;
  margin-bottom: 20px;
  padding-top: 0.2rem; }

.second-screen .card .card-title {
  font-size: 0.18rem;
  font-family: Nexa-Bold;
  font-weight: 400;
  color: #17387a;
  margin-top: 0.3rem; }

.second-screen .card .card-desc {
  font-size: 0.14rem;
  font-family: Nexa-Bold;
  font-weight: 400;
  color: #8595b6;
  line-height: 18px;
  margin-top: 0.2rem; }

.second-screen .card .path1,
.second-screen .card .path2,
.second-screen .card .path3,
.second-screen .card .path4,
.second-screen .card .icon-ic_global {
  color: #173079;
  font-size: 1rem; }

.second-screen .card-main {
  background: #fff;
  /* box-shadow: 0 -10px 26px 10px #fff; */
  margin-top: -0.55rem;
  z-index: 22;
  position: relative; }

.second-screen .card .card-num {
  font-size: 1.05rem;
  z-index: -1;
  font-weight: bolder;
  color: #e9eef8;
  position: relative;
  padding-top: 0.4rem; }

.third-screen {
  background: #2d3444;
  color: #fff;
  padding-bottom: 0.4rem; }

.third-screen .screen-title {
  color: #fff; }

.third-screen-card-list {
  margin-top: 0.6rem; }

.third-screen-card {
  padding: 40px 0;
  box-shadow: 0px 0px 10px 0px rgba(15, 28, 55, 0.1);
  margin-bottom: 0.4rem;
  /* height: 2.34rem; */
  position: relative; }

.third-screen-card img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.third-screen-card-item-icon {
  text-align: center;
  color: #C09E15;
  font-size: 50px; }

.third-screen-card-title {
  text-align: center;
  color: #fff;
  font-size: 0.2rem;
  margin-top: 20px;
  /* margin-top: 0.2rem; */ }

.third-screen-card .card-body {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* padding: 0.4rem 0.2rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */ }

.forty-screen {
  background: #fff;
  color: #fff;
  padding-bottom: 0.4rem; }

.forty-desc {
  font-size: 0.2rem;
  font-family: Nexa-Bold;
  font-weight: 400;
  color: #8595b6;
  line-height: 15px;
  text-align: center;
  padding-top: 0.2rem; }

.forty-screen .card {
  margin-bottom: 20px; }

.card-icon-desc {
  font-size: 0.2rem;
  font-family: Nexa-Bold;
  font-weight: 400;
  color: #17387a;
  margin-left: 0.14rem; }

.forty-screen .card-icon {
  background: #2e61f7;
  display: inline-block;
  width: 0.46rem;
  height: 0.46rem;
  border-radius: 50%;
  text-align: center;
  line-height: 0.46rem;
  font-size: 0.2rem;
  /* border-radius: 50%; */ }

.forty-screen .card-list {
  margin-top: 0.3rem; }

.img_device {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.8rem;
  width: 50%; }

@media (max-width: 768px) {
  .first-screen {
    height: 9.6rem; }

  .first-screen h2 {
    text-align: center;
    font-size: 0.54rem;
    font-family: IBMPlexSans-Bold;
    font-weight: bold;
    color: white;
    line-height: 0.9rem; }

  .screen-title {
    font-size: 0.4rem;
    font-family: Nexa-Bold;
    font-weight: bold;
    color: #163b7a;
    line-height: 0.6rem; }

  .line {
    margin-top: 0.6rem; }

  .card-num {
    opacity: 1;
    font-size: 1.5rem;
    font-family: Helvetica_cyr-Bold;
    font-weight: bold;
    color: #e9eef8; }

  .second-screen .card-list {
    margin: 0;
    margin-bottom: 30px; }

  .second-screen .card-list .card {
    margin-bottom: 0;
    margin-top: 10px; }

  .third-screen-card-list {
    margin: 0;
    margin-top: 30px; }

  .third-screen-card-title {
    font-size: 17px;
    margin-top: 0; }

  .third-screen-card {
    padding: 30px 0; }

  .forty-screen .card-icon {
    width: 34px;
    height: 34px;
    line-height: 34px; }

  .forty-screen .card-list {
    margin: 0;
    margin-top: 20px; }

  .card-icon-desc {
    font-size: 18px;
    font-family: Nexa-Bold;
    font-weight: 400;
    color: #17387a;
    margin-left: 22px; } }

/*# sourceMappingURL=index.css.map */
